<template>
  <Layout>
    <article class="prose mx-auto prose-xl">
      <h1 v-text="$page.blog.title" />
      <div v-html="$page.blog.content" />
    </article>
  </Layout>
</template>

<page-query>
query Blog($id: ID!) {
    blog(id: $id) {
        title
        content
    }
}
</page-query>