<template>
  <Layout>
    <main class="flex-1 grid grid-cols-3 grid-rows-3 mx-auto my-2">
      <div
        class="
          grid grid-cols-2
          row-start-2
          grid-rows-[1fr,
          auto]
          p-2
          col-start-2
          border-white border
          rounded-md
          gap-y-2
        "
      >
        <g-image alt="Me" src="~/profile.jpg" class="rounded-full" />

        <h1 class="text-right text-lg">Ricardo H. Gómez</h1>
        <p class="col-span-2 text-right text-sm">
          Person, Programmer, Writer, Artist, Musician.
        </p>
      </div>
    </main>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: "About Ricardo H. Gómez",
  },
};
</script>
