<template>
  <Layout>
    <main class="grid grid-cols-3 grid-rows-4">
      <div
        v-for="edge in $page.allBlog.edges"
        :key="edge.node.id"
        class="border border-white p-1"
      >
        <g-link :to="edge.node.path">
          <div class="flex items-center justify-between">
            <h1 class="text-xl text-center" v-text="edge.node.title" />
            <span v-text="edge.node.modified" />
          </div>
          {{ edge.node.excerpt }}
        </g-link>
      </div>
    </main>
  </Layout>
</template>

<page-query>
query BlogIndex {
    allBlog(sortBy: "modified") {
        edges {
            node {
                id
                title
                excerpt
                path
                modified
            }
        }
    }
}
</page-query>