<template>
  <Layout>
    <main class="bg-white bg-opacity-20 p-2 flex-1 m-2 rounded-lg">
      <div class="prose prose-xl mx-auto text-right">
        <h1>Welcome to {{ $static.metadata.siteName }}</h1>
        <p>
          Here, I have my blog and I also link to my twitter and an about page.
        </p>
        <h2>Plans:</h2>
        <ul>
          <li>Change favicon</li>
        </ul>
      </div>
    </main>
  </Layout>
</template>

<script>
export default {
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
    };
  },
};
</script>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>