<template>
  <div class="flex flex-col bg-black text-white min-h-screen">
    <header
      class="
        flex
        <md:flex-col
        p-2
        items-center
        justify-between
        border-white border-b
      "
    >
      <span class="font-semibold text-2xl text-pink-300">
        <g-link to="/">{{ $static.metadata.siteName }}</g-link>
      </span>
      <nav class="flex gap-x-2">
        <button class="relative" @click="isOpen.matrix = !isOpen.matrix">
          Matrix {{ isOpen.matrix ? "&darr;" : "&uarr;" }}
          <div
            v-show="isOpen.matrix"
            class="absolute rounded-lg bg-black p-2 flex flex-col gap-2"
          >
            <a
              href="https://matrix.to/#/@rhg135:rhg135.com"
              target="_blank"
              rel="noopener"
            >
              @rhg135:rhg135.com
            </a>
            <a
              href="https://matrix.to/#/#hectors-lounge:rhg135.com"
              target="_blank"
              rel="noopener"
            >
              Hector's Lounge
            </a>
          </div>
        </button>
        <a href="https://twitter.com/rhg135" target="_blank" rel="noopener"
          >Twitter</a
        >
        <a
          href="https://gitlab.com/rhg135/landing"
          target="_blank"
          rel="noopener"
        >
          Source
        </a>
        <g-link to="/blog/">Blog</g-link>
        <g-link class="nav__link" to="/about/">About</g-link>
      </nav>
    </header>
    <slot />
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  data() {
    return {
      isOpen: {
        matrix: false,
      },
    };
  },
};
</script>